@import './global'    
@import './variables'

section {
  padding: 100px 0;
  min-height 90vh
}
section h4.section-heading {
  //font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.header_bg
    overflow hidden
    text-align center
    background-color dark3
    background linear-gradient(to bottom, dark 5%, darklight 65%, dark3 90%)

#header_masapoly   
    background-position center center 

.middle
    margin 0
    text-align center
    
.float
    display inline-flex
    text-align center
  //  flex-direction row
  //  justify-content center

.nav_custom
    background-color graylight
    background linear-gradient(70deg, graylight 15%, transparent 0), linear-gradient(60deg, bluec 50%, transparent 0), linear-gradient(120deg, grayc 90%, transparent 0), linear-gradient(45deg, graylight 95%, transparent 0), linear-gradient(120deg, grayc 100%, transparent 0)
    height 65px
    overflow hidden
    @media mq-bxs
        background graylight
    
.nav_logo
    background-color dark3
    background linear-gradient(130deg, graylight 20%, transparent 0),linear-gradient(70deg, grayc 50%, transparent 0), linear-gradient(150deg, dark3 65%, transparent 0), linear-gradient(0deg, bluec 100%, transparent 0)
    float left
    width 208px
    height 65px
    @media mq-bxs
        background-image  linear-gradient(130deg, graylight 0%, transparent 0),linear-gradient(70deg, graylight 32%, transparent 0), linear-gradient(140deg, dark3 40%, transparent 0), linear-gradient(0deg, bluec 100%, transparent 0)
        width 50px
    
    
.nav_logo > a
    float right
    margin-right 15%
    
.nav_message
    background-color dark3
    background linear-gradient(70deg, grayc 20%, transparent 0), linear-gradient(150deg, dark3 45%, transparent 0), linear-gradient(180deg, transparent 90%, transparent 0)
    float right
    width 208px
    height 65px
    @media mq-bxs
        background-image  linear-gradient(130deg, graylight 0%, transparent 0),linear-gradient(70deg, grayc 32%, transparent 0), linear-gradient(140deg, dark3 40%, transparent 0), linear-gradient(0deg, transparent 100%, transparent 0)
        width 50px
    
.nav_message > a
    color whc
    float left
    margin-left 15%

.nav
    background-color grayc
    background linear-gradient(70deg, bluec 20%, transparent 0), linear-gradient(70deg, graylight 38%, transparent 0), linear-gradient(70deg, grayc 59%, transparent 0), linear-gradient(70deg, graylight 78%, transparent 0), linear-gradient(70deg, grayc 100%, transparent 0)
    height 65px
    display flex
    @media mq-mobile
        background linear-gradient(70deg, bluec 25%, transparent 0), linear-gradient(70deg, graylight 42%, transparent 0), linear-gradient(70deg, grayc 60%, transparent 0), linear-gradient(70deg, graylight 78%, transparent 0), linear-gradient(70deg, grayc 100%, transparent 0)
        
        
.nav_item
    width 20vw
    height 65px
    position relative
    @media mq-iPhones4
        width 12vw
    @media mq-mobile
        width 16vw
    @media mq-bxs
        width 18vw
    a 
        vertical-align bottom
        height: 65px
        top 20px
        @media mq-bxs
            top 2px
        @media mq-iPhones4
            margin-left -13%
//.nav_item:hover:before
    //position absolute
    //left -5%
    //content ""
    //width 10vw
    //height: 65px;
    //-webkit-transform: skew(20deg);
    //-moz-transform: skew(20deg);
    //-o-transform: skew(20deg);
    //-ms-transform: skew(20deg);
    //transform: skew(20deg);
    //border 2px dashed white

.nav_rules:before
.nav_tips:before
.nav_roles:before
    position absolute
    left -10%
    content ""
    width 13vw
    height: 65px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    @media mq-iPhones4
        left 8%
    @media mq-mobile
        width 16vw
    @media mq-tablet
        left -5%
        width 18vw
    @media mq-normal
        width 11vw
    @media mq-bmd
        width 14vw
    @media mq-blg
        width 15vw
    @media mq-xl
        width 17vw

.nav_rules:before
    background  darkcyan
.nav_tips:before
    background cadetblue
.nav_roles:before
    background greenlight

nav.nav-fixed-top {
  position: fixed!important
  right: 0;
  left: 0;
  z-index: 1030;
}

#about
#tips
#rules
#roles
    display block
    background url(background.svg)
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    -webkit-background-size: 1200px;
    -moz-background-size: 1200px;
    background-size: 1200px;
    -o-background-size: 1200px;
    @media mq-mobile
        background-position bottom right
    @media mq-tablet
        -webkit-background-size: 768px;
        -moz-background-size: 768px;
        background-size: 768px;
        -o-background-size: 768px;

#about
    background-color bluec
    
.about_content
    display block
    padding-left 50px
    padding-right 50px
    padding-bottom 30px

.about_item
    background-image linear-gradient(60deg, bluec 45%, transparent 0), linear-gradient(120deg, yeldark 40%, transparent 0), linear-gradient(60deg, transparent 100%, transparent 0)
    padding-bottom 20px
    
.about_item, .item_end > h4, p
    color whc
    
.about_item > h4
    padding-top 20px
    padding-bottom 25px
    
.about_item > p
    padding-top 20px

.arrow_down
    width 0
    height 0
    border-color whc transparent transparent transparent
    border-style inset
    border-width 10px
    
#rules
    background-color darkcyan
    
#rules .container .row .middle
    padding-bottom 30px
    
.rulesline 
  list-style: none;
  padding: 0;
  position: relative;

.rulesline:before 
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 1px;
  background-color: graylight;
  left: 40px;
  margin-left: -1.5px;
  @media mq-normal
      left 50%

.rulesline > li 
  margin-bottom: 60px;
  position: relative;
  min-height: 70px;
  :before,:after
      content: " ";
      display: table;
  :after
      clear: both;
  @media mq-normal
      margin-bottom 60px
      min-height 50px
    @media mq-bmd
      min-height 30px
    @media mq-blg
      min-height 40px


.rulesline > li .rule_item 
  width: 100%;
  float: right;
  padding: 0 0 0 100px;
  position: relative;
  text-align: left;
  @media mq-normal
      width 44%
      float left
      padding 0 0 20px 30px
      text-align right
    @media mq-bmd
      padding 0 0 20px
    @media mq-blg
      padding 0 0 20px 100px
   
  
.rulesline > li .rule_item:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.rulesline > li .rule_item:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.rulesline > li .rule_dot 
  left: 0;
  top -4px
  margin-left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 100;
  background-color yeldark
  color: white;
  border-radius: 100%;
  border: 3px solid #fff;
  text-align: center;
  @media mq-normal
      left 50%
      margin-left -12px

.rulesline > li.rules_inverted > .rule_item 
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
  @media mq-normal
      float right
      text-align left
      padding 0 30px 20px 0
    @media mq-bmd
      padding 0 0 20px
    @media mq-blg
      padding 0 100px 20px 0

.rulesline > li.rules_inverted > .rule_item:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.rulesline > li.rules_inverted > .rule_item:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.rulesline > li:last-child {
  margin-bottom: 0;
}

#tips
    background-color cadetblue
    
#tipchurch
    width 30vw

.tip_content
    padding-left 60px
    padding-right 60px
    padding-top 10px

.tip_circle
    padding 5px 0
    width: 120px;
    height: 120px;
    z-index: 100;
    background-color yeldark
    color: white;
    border-radius: 100%;
    border: 0 solid #fff;
    text-align: center;
    color: white
    box-shadow 0 5px 10px rgba(black, .3)
    line-height 1.35em
    font-size 4em
    p 
        position absolute
        top 80px
        width 100%
    
#tips a
    text-shadow none
    :hover
        background-color coral
    p:hover
        background-color transparent
        
#tips .middle
    padding 10px 0 20px 0
    

#roles
    //display none
    padding-top 30px
    position relative
    text-align center
    display block
    background url(background.svg) no-repeat bottom
    background-size contain
    background-color greenlight
    
.roles
    padding-top 60px
    padding-bottom 90px
    position relative
    
.role_item
    position relative
    display inline
    align-items center
    h4
        position relative
        padding-top 30px
        padding-bottom 20px
        

.role_image
    position relative
    padding-top 10px
    width: 160px;
    height: 160px;
    z-index: 100;
    background-color greenc
    color: white;
    border-radius: 100%;
    border: 0 solid #fff;
    text-align: center;
    color: white
    margin 0 auto
    float right
    overflow hidden
    @media mq-bxs
        float none
    img
        width 100px
    img.lili
        width 200px
        padding-right 35px
    img.sali
        width 80px
        
.role_item .active
    background-color darklight

.role_content
    float left
    display flex
    align-items center
    @media mq-bxs
        float none
        display inline-block
    .vmiddle
        clear both
        display inline-block
        padding-bottom 0px
    ul
        width 180px
        text-align left
        list-style-type square
        color black
    .role_submit
        cursor pointer
        font-weight: 700
        background: yelc
        box-shadow: 0 1px 5px rgba(black, .3)
        color: white
        width: 6.5em
        display: inline-block
        height: 2.5em
        line-height: 2.3em
        text-align: center
        letter-spacing: .15em
        font-variant: small-caps
        border-radius: 2px
        border: 2px dashed transparent
        margin: 1em .2em
        :hover:before
            background-color coral!important
           // filter: brightness(120%)
            
#playgame
    padding-top 20px
    padding-bottom 20px
    height 100px
    margin 0
    background-color greenc
    .button
        display block
            line-height: 2.3em
            text-align: center
            letter-spacing: .15em
        
footer
    p 
        color black
        font-size 14px
        line-height 2em
        
//svg change
g#masapolytitle
    path 
        display none
        
g#masapolylogob
    display none
    
g#masalogo, path#masalogo_s
    fill whc 
    
g#masalogo
    transform scale(0.42)
    
path#masalogo_s
    transform scale(0.5)