//變數
dark = #030016
darklight = #441EAA
dark3 = #1B1464

whc = #ffffff
yelc = #fed136

grayc = #7d7d7d
graylight = #969696
bluec = #005982
yeldark = #f39800

greenc = #5ea281
greenlight = #a7d692




// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-iPhones4 = "only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)"
mq-normal = "screen and (min-width: 768px)"
mq-bmd = "screen and (min-width: 992px)"
mq-blg = "screen and (min-width: 1200px) and (max-width: 1439px)"
mq-bxs = "screen and (max-width: 767px)"
mq-xl = "screen and (min-width: 1440px) and (max-width: 2560px)"

